openapi: "3.0.3"
info:
  title: Devin API
  version: "1.0.0"

paths:
  /api/health:
    get:
      operationId: app.routes.health.health_check
      summary: Health check
      description: Verify the API is running
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthOut"
  /api/issues:
    get:
      operationId: app.routes.issues.issues
      summary: Github Issues
      description: Returns list of github issues
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Issue"

components:
  schemas:
    HealthOut:
      type: object
      required:
        - message
        - status
      properties:
        message:
          type: string
        status:
          type: string
    Issue:
      type: object
      required:
        - issue_id
      properties:
        issue_id:
          type: string
        issue_title:
          type: string